@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);
body{

   top: 0px !important;
    overflow-y: visible;
    overflow-x: hidden;
    
}
.col-org{
    color: #ff8c60;
}
.bg-org{
    background-color: #ff8c60;
}
.light-col {
    color: #9b9ea0;
}

p{
font-family: 'Tajawal', sans-serif;
}
h1,h2,h3,h4,h5,h6{
   font-family: 'Noto Kufi Arabic', sans-serif;

}
.blue-col{
    background-color: #3786af;
}
.orang-col{
     background-color: #ff8c60;
}
.bg-navyblue{
    background: #2facb1 !important;
}

.bg-grey{
       background-color: #e9ecef; 
}


.col-navyblue{
    
    color:  #2facb1 !important;
}
.white-col{
    color: white !important;
}
.bg-white{
    background-color:white !important;
    
}
.black-col{
    color: black ;
}
.to-uper{
    text-transform: uppercase;
    font-style: normal;
    font-size: 18px;
}
/* top nav*/
#top-nav{
    background-color: #ff8c60;
    color: white;
    margin-top: 0px;
    font-size: 20px;
    height: 30px;
}
.top-nav-cont{
  
    margin: auto 10px;
   
}
.social-top{
    margin-left: 450px;

}
.phone-top{
    float: right;
    margin-left: 10px;
}
@media (max-width:576px){
    #top-nav{
        display: none;
    }
    a.nav-link{
    float: right;
    margin-right: 10px;
}
}
@media (max-width: 991px) { 
    #top-nav{
        display: none;
    }
     
}

/* end top nav */
/* navbar style */
nav a{
    font-size: 20px;
    color: #2facb1;
    font-family: 'Noto Kufi Arabic', sans-serif;
}
nav a:hover{
    color: #ff8c60;
  
}
.light-col {
    color: #9b9ea0;

}
.dropdown-item{
    font-size: 20px;
    color: #2facb1;
    font-family: 'Noto Kufi Arabic', sans-serif;


}
a.lhover {
    text-decoration: none;

}

a:hover.lhover { /* orang color hover */
    color:  #ff8c60;
}

.light-dark{
    background-color:  #ff8c60;
}


/* navbar style */
/* top footer */

#top-footer{
    padding-top: 20px;
    color: white;
    height: auto;


}
p.our-ph{
    font-size: 10px;
}

#footer{
   
    padding: 5px;
    background-color: #b8bcbf;
    
}
#top-footer .imp-link ul{
    list-style-type: none;
}
#top-footer .imp-link ul li{
    text-align: right;
    margin-bottom: 10px;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 12px;
    }
#top-footer.imo-link ,h6{    
     margin-bottom: 15px;
}


/* end top footer */
/* start index style */
.box{
    margin:7px;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #2facb1 ;
}
/* end index style */
/*  ### start about page  ### */
.section {
   padding-top:  30px;
    padding-bottom:  30px;
}
.section h4,h6{
    margin-bottom:10px;
}
#ban-sect{
    height: 250px;
    width: 100%;
}
#ban-sect ul{
    list-style-type: none;
}

.title ul li{
    text-align: right !important;
    color: #ff8c60;
    display: inline;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-family:  'Tajawal', sans-serif;

}

#ban-sect h4{
    padding-top: 120px;
    color: white;
    text-align: right;
    margin-bottom: 20px;

}
#who-we h4{
    text-align: center;

}
.left-col{
    float: left;
    padding: 10px;
}
.right-col{
    float: right;
    padding: 10px;
}
.left-col p{
    text-align: justify;
    text-align-last: right;
}
.right-col img{
    width: 100%;
    margin: 0 auto;
}
#list h4{
  text-align: center;
}
#list img{
  float: left;
}
#left p {
    padding: 20px;
    text-align: justify;
    text-align-last: right;
    width: 50%;
   
}
.list-card{
    margin-bottom: 30px;
    background-color: #fafafa;
    padding: 20px;
}
.list-card img{
     padding-bottom: 100px;
     padding-right: 15px;
}
.list-card p{
    text-align: justify;
    text-align-last: right;
    color: #9b9ea0;
}
.contact-btn{
    background-color: black !important;
}
.btn-style-cont{
    color: #fff;
    background-color: #ff8c60;
    border-color: #ff8c60;
    margin-top:  -65px;
    margin-left: 200px;
    
}
#contact h6{
  text-align: center;
 
}
@media (max-width:576px){
    .btn-style-cont{

    margin-top:  20px;

    margin-left: 110px;
    text-align: center;
    
}
    #ban-sect{
    height: 200px;
    width: 100%;
}
    #ban-sect ul{
    list-style-type: none;
}
.title ul li{
    text-align: right !important;
    color: #ff8c60;
    display: inline;
    padding-left: 2px;
    padding-bottom: 10px;
    font-size: 12px;
    font-family:  'Tajawal', sans-serif;

}

#ban-sect h4{
    padding-top: 80px;
    color: white;
    text-align: right;
}
.list-card{
    margin-bottom: 30px;
}
.list-card img{
     padding-bottom: 10px;
     padding-right: 15px;
}


}

/*  ###  end about page ### */

/*  ###  start services page ### */
#thumb-slider{
    width: 100% !important;
    margin: 15 auto !important;
    align-content: center;
    right: 0 ;
    
}



.img-caption{
 
 
 width: 460px;
 height: 100px;
 margin-top: -115px;
border-radius: 5px;
 padding: 7px;
 position: relative;
 margin-right: auto;
 margin-left: auto;
  background-color: #2facb1 ;
  color:white;
}
caption-img{
    width: 430px;
    border: 2 solid red;
}

#icon-bet{
    background-color: #e9ecef;
    width: 100px;
    height: 100px;
    margin: -50px auto 0 auto;
    border-radius: 50%;
    display: grid;
    align-content:center;
    
}
#icon-bet h2{
    margin: 0 auto;
    border-radius: 100px;
    align-content: center;
   
}

/*  ###  end portfolio page ### */

/* home page style */
/* */
.banner h4{
    text-align: right;
    color: white;
    line-height: 12px;

}
#banner{
    background-image: url('{% static 'personal/img/download.jpg'%}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.carousel-item{
    
}
.sl-height{
    height: 500px;
    width: 100%;
}
.sl-height img{
    height: 100%;
    width: 100%;
}
.carousel-item img{
    height: 100%;
    width: 100%;
}
    .imp-link{
        margin-bottom: 10px;
        width: 45%;
        float: right;
    }
@media (max-width:576px){
    .imp-link{
        margin-bottom: 10px;
        width: 45%;
        float: right;
    }
    .carousel-item {
    height: 240px;
    width: 100%;
}
.sl-height img{
    height: 100%;
    width: 100%;
}
.carousel-item img{
    height: 100%;
    width: 100%;
}

}
.org-circle {
    border-radius:50%;
    background-color:  #ff8c60;
    color: white;
    height: 150px;
    width: 150px;
    align-items: center;
    margin: 5% auto; 
   }
  .org-circle i{
     margin-top: 42px;
     vertical-align: middle;
  }
  .org-circle h1{
    font-weight: 1000;
    margin-top: 40px;
    font-size: 55px;

  }
  .col-blue{
  color: #3786af;
}
.col-light{
    color: #9b9ea0;
}
.col-org{
    color: #ff8c60;
}
.grey-p{
    color: #6c757d !important;
    text-align: justify;
    text-align-last:right;
    padding: 10px;
}
/* end home page style */

/* contact page */
.btn-style{
    color: #fff;
    background-color: #ff8c60;
    border-color: #ff8c60;
    width: 35%;
}
#form-img img{
     float: right;
     /*margin-right: 200px;*/
}
/* end contact page */