{%extends "personal/header.html"%}
{%load staticfiles %}

    {%block title %}
    <title>مبرمج مواقع ألكترونية في السودان </title>
    <meta name="description" content="مبرمج مواقع إلكترونية في السودان خبرة سنتين+  في تصميم  صفحات الويب وبرمجة المواقع الإلكترونية في السودان وخدمة التسويق الإلكتروني ">
    <meta name="keywords" content="برمجة صفحة ويب في الخرطوم,استضافة مواقع في السودان,استضافة مواقع في الخرطوم,برمجة مواقع في السودان,برمجة مواقع في الخرطوم,انشاء موقع منتدى في السودان,إنشاء موقع منتدى  في الخرطوم,تصميم مواقع انترنت في السودان,تصميم مواقع انترنت في الخرطوم,أفضل مصمم مواقع في السودان, 
أفضل مصمم مواقع  في الخرطوم,تكلفة أنشاء موقع الكترونية في السودان,تكلفة أنشاء موقع الكترونية في الخرطوم,كيفية عمل موقع ويب في السودان,كيفية عمل موقع ويب في الخرطوم,خطة تسويق الكتروني في السودان,خطة تسويق الكتروني في الخرطوم,تسويق الكتروني في السودان,تسويق الكتروني في الخرطوم,التسويق عبر الفيسبوك في السودان, 
التسويق عبر الفيسبوك في الخرطوم,أفضل طرق التسويق الإلكتروني في السودان,أفضل طرق التسويق الإلكتروني في الخرطوم,تسويق عبر الانترنت في السودان,تسويق عبر الانترنت في الخرطوم,خدمات تسويق الكتروني في السودان,خدمات تسويق الكتروني في الخرطوم,مطلوب مبرمج مواقع في السودان,مطلوب مبرمج مواقع في الخرطوم, 
عمل موقع ويب في السودان,عمل موقع ويب في الخرطوم,حجز دومين  في السودان,حجز دومين  في الخرطوم,خدمة إستضافة موقع  في السودان,خدمة إستضافة موقع  في الخرطوم, 
,تكلفة انشاء موقع الكرتوني في السودان,تكلفة انشاء موقع الكرتوني في الخرطوم,برمجة المواقع في السودان,أفضل خدمة برمجة المواقع في السودان,أفضل خدمة برمجة المواقع في الخرطوم,تصميم شعار شركة في السودان,افضل تصميم شعار شركة في السودان, 
افضل تصميم شعار شركة في الخرطوم,تصميم متجر الكتروني في السودان,أفضل مصمم متجر الكتروني في السودان,أفضل تصميم متجر الكتروني في السودان,استضافة مواقع في السودان,استضافة مواقع إلكترونية في السودان,استضافة مواقع في الإنترنت في السودان, 
أفضل طريقة للتسويق الإلكتروني في السودان,تصميم مواقع أخبارية في السودان,تصميم مواقع انترنت في السودان,أفضل مصمم مواقع في السودان ,أفضل مبرمج مواقع في السودان,أفضل برمجة مواقع في السودان,أفضل مصمم واجهة موقع ألكتروني في السودان,أفضل مصمم واجهة موقع أنترنت في السودان ">
    {%endblock%}
        {%block content%}
<!--start banner -->
<!-- <section class="section" id="ban-sect" style="    background-image: url('{%static 'personal/img/ban-bg.jpg'%}'); background-repeat: no-repeat;background-size: cover; width: 100%;">
 <div class="container">
  <div class="title wow fadeInRight">
   <h4>من نحن  <i class="fas fa-user-tag"></i></h4>
   <ul class="float-right ">
     <li> أدواتنا  &nbsp;&nbsp; <span class="white-col">--</span></li>
     <li>طريقتنا  &nbsp;&nbsp; <span class="white-col">--</span></li>
     <li>أسعارنا   &nbsp;&nbsp; <span class="white-col">--</span></li>
     <li>خبرتنا   </li>
   </ul>
 </div>
 </div> 
  
</section> -->
<!--end banner -->

<!--start who we are -->
<hr style="color: gray;">
<section class="section" id="who-we">
  <div class="container">
     <h4 class="col-navyblue " style="text-align: center;">من  نحن<span class="light-col"> ؟</span></h4> 
    <div class="row">
<span class="col-navyblue"></span>

      <div class="col-lg-8 col-md-6 col-xs-12 wow fadeInLeft left-col" >
        <p class="light-col">محمد سليمان  خريج علوم حاسوب من الجامعة العثمانية حيدراباد الهند , حاصل على العديد من الشهادات في مجال تصميم وبرمجة وتسويق المواقع الإلكترونية ,حاصل على شهاد  <span class="col-navyblue">تصميم مواقع  </span>من بيكسل أرت في اميربيت حيدراباد الهند . وحاصل على شهادة  <span class="col-navyblue">برمجة مواقع</span> المسار الكامل من الموقع التعليمي الشهير يوداسيتي وأيضا حاصل على شهادة  <span class="col-navyblue">تسويق الكتروني </span>من اوربيت في أميربيت حيدراباد الهند 
        <p class="light-col">بالطبع في مجال برمجة المواقع لا تكفى المعرفة بإدواته بل بالممارسة والخبرة تصبح مبدع , إذ لدي خبرة  سنتين +  في تصميم وبرمجة وتسويق المواقع الإلكترونية  حيث أنجزت العديد من المواقع الإلكترونية مثل المواقع الشخصية والتجارية ومنتديات والعديد , ولأن المواقع الإلكترونية أصبحت من احدث الأساليب العصرية للتسويق و بيع الخدمات  للعملاء على الإنترنت , هنا نبدأ معك بفهم نوعية نشاطك التجاري حتى نصمم لك موقع الكتروني جميل وفريد يحقق أهدافك ويساهم في زيادة عملائك حيث نستخدم أحدث أدوات التسويق الإلكتروني مثل جعل الموقع صديق لمحركات البحث و إستخدام مواقع التواصل الإجتماعي لنشر الموقع والوصول لأكبر عدد من المستخدمين , أعرف المزيد عن طريقة عملنا والأدوات التى نستخدمها وطريقة التسعير و خبرتنا في الجزء التالى من الصفحة , أخيرا نسعد بتواصلك معنا عن طريق إرسال رسالة او بالإتصال وطلب خدماتنا</p>
 </div>
      <div class="col-lg-4 col-md-6 col-xs-12 wow fadeInRight right-col" >

       <img src="{% static 'personal/img/our emplyee.jpg'%}" class="img-responsive img-circle">
        
      </div>   

     
    
    </div>
  </div>
</section>
<!--end who we are -->
<hr class="light-col">

<!--start list -->
<section class="section container" id="list">

  <div class="row">
    <div class="col-lg-6 order-lg-2  col-xs-12 ">
      <div class="list-card wow fadeInUp">
      <img src="{% static 'personal/img/our-way.png' %}">
      <h4 class="col-navyblue">طريقة عملنا<span class="light-col"> </span></h4>
      <p>بداية بالنقاش معك لمعرفة إحتياجاتك ونوعية الموقع الإلكتروني المطلوب والتعرف على طبيعة نشاطك التجاري والخدمي , ثانيا نبدا بتصميم وبرمجة الموقع حسب نوعية الشركة أو المؤسسة المستهدفة بالموقع , وبعد الإنتهاء من التصميم نعرضه عليك , وثالثا يأتى التسويق الإلكتروني  بداية بمحتوى الموقع وملائمته لمحركات البحث حتى يكون الموقع في مرتبة متقدمة في البحث وإيضا أنشاء حسابات في مواقع التواصل الإجتماعي لنشر الموقع , وأخير شراء دومين وإستضافة لتحميل الموقع على الأنترنت</p>
      </div>
    </div>
    <div class="col-lg-6 order-lg-1 col-xs-12 ">
      <div class="list-card wow fadeInUp">
      <img src="{% static 'personal/img/our-tech.png' %}">
      <h4 class="col-navyblue">الأدوات التى نستخدمها<span class="light-col"> </span></h4>
      <p>نستخدم أحدث الأدوات التقنية في مجال تصميم و برمجة وتسويق  المواقع لعمل موقع ذو تصميم جميل وسهل الإستخدام , حيث نستخدم الفوتوشوب  لتصميم شعار الموقع والصور المستخدمة وشكل الموقع , أما لتصميم الموقع الإلكتروني فنستخدم إطار الويب الشهير بوتستراب     الذي يعمل بالهتش مال والسي اسس  ونستخدم لغة البرمجة جافاسكريبت , وفي برمجة المواقع نستخد إطار لغة بايثون الشهير داجنقو ,أما في التسويق الإلكتروني فنستخدم أدوات مثل اس إيو  لتحسين ترتيب الموقع في محرك البحث</p>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 order-lg-2 col-xs-12">
      <div class="list-card wow fadeInUp">
      <img src="{% static 'personal/img/our-price.png' %}">
      <h4 class="col-navyblue">أسعارنا <span class="light-col"> </span></h4>
      <p>نقدم لك افضل الأسعار لخدمات تصميم مواقع إلكترونية وبرمجة المواقع وتسويق المواقع الكترونيا في السودان  , حيث يعتمد تحديد السعر على نوعية الموقع المطلوب ونوعية الأدوات المستخدمة فيه , حيث نقدم لك موقع متميز وسهل الإستخدام  مصمم بإحدث الأدوات التقنية في مجال تصميم المواقع الإلكترونية وبرمجة المواقع الإلكترونية ,يمكنك السؤال عن أسعار خدماتنا بمراسلتنا في قسم التواصل أو بالإتصال علينا في هوتفنا او عن طريق حساباتنا في مواقع التواصل الإجتماعي</p>
    </div>
    </div>
    <div class="col-lg-6 order-lg-1 col-xs-12">
      <div class="list-card wow fadeInUp">
      <img src="{% static 'personal/img/our-experince.png' %}">
      <h4 class="col-navyblue">خبرتنا <span class="light-col"> </span></h4>
      <p>لدي خبرة  طويلة في مجال تصميم مواقع الويب  وبرمجة المواقع الإلكترونية وتسويق المواقع على الإنترنت , حيث أنجزنا العديد من المواقع الشخصية والتجارية ولدينا عدد مقدر من العملاء نسعد دائما بالعمل معهم لتحقيق أقصى فائدة لشركاتهم ومؤوسساتهم عبر نشر نشاطهم على الإنترنت مما يمكنهم من الحصول على اكبر عدد من المستخدمين . يمكنك الإطلاع على الأعمال التى أنجزناها في الصفحة الرئيسية وايضا نسعد  بطلب خدماتنا وإنضمامك لقائمة عملائنا المميزين </p>
    </div>
    </div>
  </div>
  
</section>
<!--end list  -->
<hr class="light-col">

<!--start contact us -->
<section class="section container" id="contact">
 <div class="wow fadeInLeft"> 
<h6 class="col-navyblue">انشر  نشاطك التجاري بالحصول على موقع الكتروني  جذاب ومميزة  </h6> <a class="" href="{% url 'contact' %}"><button type="button" class="btn btn-style-cont rounded ">تواصل معنا </button> </a></div>
</section> 
<!--end contact us -->

        {% endblock %}
   