{% extends "personal/header.html" %}
{%load staticfiles %}
    {%block title %}
    <title>مبرمج مواقع إلكترونية في السودان  |تواصل معنا  نحن نصمم مواقع مميزة </title>
    <meta name="description" content="تواصل معنا وأبدا في توسيع نشاطك على الإنترنت , مبرمج مواقع إلكترونية رقم هاتف , مصمم مواقع ألكترونية رقم هاتف , مبرمج مواقع إلكترونية بريد إلكتروني">
    <meta name="keywords" content=" أفضل مبرمج صفحات في السودان رقم هاتف,أفضل مصمم مواقع ويب في السودان,أفضل مبرمج مواقع إلكترونية في السودان رقم هاتف,أفضل مطور مواقع إلكترونية في السودان,مصمم شعار شركة في السودان رقم هاتف,مبرمج مواقع تسويق إلكتروني رقم الهاتف,مصمم مواقع أنترنت رقم الهاتف السودان,أفضل مبرمج صفحات في السودان صفحة تواصل معنا,أفضل مصمم مواقع ويب في السودان بريد ألكتروني,أفضل مبرمج مواقع إلكترونية في السودان بريد إلأكتروني,أفضل مطور مواقع إلكترونية في السودانصفحة تواصل معنا,مصمم شعار شركة في السودان تواصل معنا,مبرمج مواقع تسويق إلكتروني صفحة تواصل معنا,مصمم مواقع أنترنت تواصل معنا السودان">

<style type="text/css">
  #form-img img{
   
     margin-left: 1px;
     padding-top: 80px;
     padding-right: 80px;
}
#basic-inf h6{
  text-align: right;
  padding-bottom: 10px;
}
#we-best h6{
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
#we-best {
  padding-top: 40px;
}
@media (max-width:576px){
    #form-img img{
      width: 100%;
      padding-right: 1px;
      margin-left: 15px;
      padding-top: 10px;
      padding-bottom: 30px;
      }
  
}
</style>
    {%endblock%}
        {%block content%}
<!--start banner -->
<!--
<section class="section" id="ban-sect" style="    background-image: url('{%static 'personal/img/ban-bg.jpg'%}'); background-repeat: no-repeat;background-size: cover; width: 100%;">
 <div class="container">
  <div class="title wow fadeInRight">
   <h4>تواصل معنا  <i class="fas fa-user-tag"></i></h4>
   <ul class="float-right ">
     <li> هواتفنا  &nbsp;&nbsp; <span class="white-col">--</span></li>
     <li>البريد  &nbsp;&nbsp; <span class="white-col">--</span></li>
     <li>راسلنا   </span></li>

   </ul>
 </div>
 </div> 
  
</section> -->
<!--end banner -->
<hr style="color: gray;">

<!--start we best -->
<section class=" container" id="we-best">

  <div class="row">
   
    <div class="col-lg-4 order-lg-3 col-xs-12 wow fadeInUp">
      <div class="list-card">
        <h6 class="col-navyblue"> <i class="fas fa-palette col-org"></i>&nbsp;&nbsp;تصميم جميل </h6>
        <p>نقدم لك أفضل تصميم صفحات أنترنت لموقعك الإلكتروني  حيث نضع في الإهتمام أهمية واجهة الموقع في جذب المستخدمين لمحتوى الموقع الإلكتروني</p>
      </div>
    </div>
        <div class="col-lg-4 order-lg-2 col-xs-12 wow fadeInUp">
      <div class="list-card">
        <h6 class="col-navyblue"><i class="fas fa-shopping-cart col-org"></i>&nbsp;&nbsp;خصائص متميزة </h6>
        <p>نبرمج لك موقعك الإلكترونية بأحدث الأدوات البرمجية لجعله أكثر تفاعلية وفائدة للمستخدمين , حيث يمكنك  من إستقبال رسائل  وطلبات المستخدمين وأكثر من ذلك</p>
      </div>
    </div>
        <div class="col-lg-4 order-lg-1 col-xs-12 wow fadeInUp">
      <div class="list-card">
        <h6 class="col-navyblue"><i class="fas fa-users col-org"></i>&nbsp;&nbsp;تسويق إلكتروني</h6>
        <p>نشر الموقع والوصول لأكبر عدد من المستخدمين , إذ نستخدم أحدث أدوات التسويق الإلكتروني التى سوف تمكن الموقع من الأنتشار وتحسين ترتيبه في محركات البحث</p>
      </div>
    </div>

  </div>
  

</section>
<!--end  we best  -->

<hr class="light-col">
<!--start form -->
<section  class="section container" id="form">
  <div class="row">
    <div class="col-lg-8  col-xs-12 order-lg-2 " id="form-img">
      <img src="{% static 'personal/img/contact-us.png'%}">
    </div>
    <div class=" col-md-6 col-lg-4 pb-5 order-lg-1 wow fadeInLeft " id="cont-form">


                    <!--Form with header-->

                    <form action="mail.php"  method="post">
                      <div class="">
                        <div class="card  ">
                            <div class="card-header p-0">
                                <div class="bg-org text-white text-center py-2">
                                    <h4>تواصل معنا  <i class="fa fa-envelope"></i> </h4>
                                    <p class="m-0 text-center">أخبرنا عن مطلباتك  وسوف نقدم لك  افضل العروض  </p>
                                </div>
                            </div>
                            <div class="card-body p-3  float-right">

                                <!--Body-->
                                <div class="form-group ">
                                    <div class="input-group mb-2 right">
                                        <div class="input-group-prepend">
                                            
                                        </div>
                                        <input type="text" class="form-control float-right" style="direction: rtl;" id="nombre" name="nombre" placeholder="الإسم كامل  *" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                  
                                        </div>
                                        <input type="phone" class="form-control" style="direction: rtl;" id="nombre" name="email" placeholder="رقم الهاتف " required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                  
                                        </div>
                                        <input type="email" class="form-control" style="direction: rtl;" id="nombre" name="email" placeholder="  البريد الإلكتروني  *" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            
                                        </div>
                                        <textarea class="form-control" style="direction: rtl;"  placeholder="أكتب رسالتك  *" required></textarea>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <input type="submit" value="إسال " class="btn btn-style  rounded">
                                </div>
                                <p class="light-col float-right">مهم جدا *</p>

                        </div>
                        </div>
                    </form>
                  </div>

                    <!--Form with header-->
                </div>

  </div>
</section>
<!--end form-->

<hr class="light-col">

<!--start basic info -->
<section class="section container" id="basic-inf">
  <div class="row">
    <div class="col-lg-6 order-lg-2 col-xs-12 wow fadeInUp">
      <div class="list-card">
        <h6 class="col-navyblue">رقم الهاتف   &nbsp;<i class="fas fa-mobile-alt"></i></h6>
        <p>+91 958 1522 956</p>
      </div>
    </div>
        <div class="col-lg-6 order-lg-1 col-xs-12 wow fadeInUp">
      <div class="list-card">
        <h6 class="col-navyblue">البريد الإلكتروني  &nbsp;<i class="far fa-envelope"></i></h6>
        <p>mohwebdeveloper@gmail.com</p>
      </div>
    </div>

  </div>
  

</section>
<!--end  basic info -->
        {%endblock%}
