{% extends "personal/header.html" %}
{%load staticfiles %}
    {%block title %}
    <title>مبرمج مواقع إلكترونية | مواقع أكثر تفاعلية ,مواقع أكثر فائدة للمستخدم</title>
    <meta name="description" content="مبرمج مواقع الكترونية في السودان , نبرمج لك مواقع ذكية حيث نضيف ميزات برمجية لجعله أكثبر فائدة للمستخدم  ">
    <meta name="keywords" content="برمجة  مواقع الكترونية في السودان,تطوير مواقع الكترونية في الخرطوم,شركة تطوير مواقع الكترونية في السودان ,افضلشركة تطوير مواقع الكترونية في السودان,شركات تطوير مواقع الكترونية في الخرطوم,كيفية تطوير مواقع الكترونية في السودان,كيفية تطوير مواقع الكترونية في الخرطوم,خطة تطوير مواقع الكترونية في السودان ,خطة تطوير مواقع الكترونية في الخرطوم,برامج تطوير مواقع الكترونية في السودان 
 ,برامج تطوير مواقع الكترونية في السودان 
برامج تطوير مواقع الكترونية في الخرطوم,انشاء مواقع  انترنت في السودان,انشاء مواقع  ويب في الخرطوم,عمل مواقع  ويب في السودان,عمل مواقع  الكترونية في الخرطوم ,مصمم مواقع في السودان,مصمم مواقع في الخرطوم,تصميم صفحة ويب في السودان,تصميم صفحة ويب في الخرطوم,برمجة صفحة ويب في السودان, 
برمجة صفحة ويب في الخرطوم,تطوير مواقع في السودان,مبرمج مواقع في الخرطوم,برمجة مواقع في السودان,برمجة مواقع في الخرطوم,انشاء موقع منتدى في السودان,إنشاء موقع منتدى  في الخرطوم,برمجة مواقع انترنت في السودان,تطوير مواقع انترنت في الخرطوم,أفضل مبرمج مواقع في السودان, 
أفضل مبرمج مواقع  في الخرطوم, أنشاء موقع الكترونية في الخرطوم,كيفية عمل موقع ويب في السودان,كيفية عمل موقع ويب في الخرطوم,خطة عمل موقع  الكتروني في السودان,خطة برمجة مواقع أنترنت  في السودان,برمجة موقع ويب الكتروني في السودان,موقع الكتروني في السودان, 
التسويق عبر الفيسبوك في الخرطوم,أفضل طرق التسويق الإلكتروني في السودان,أفضل طرق التسويق الإلكتروني في الخرطوم,تسويق عبر الانترنت في السودان,تسويق عبر الانترنت في الخرطوم,خدمات تسويق الكتروني في السودان,خدمات تسويق الكتروني في الخرطوم,مطلوب مبرمج مواقع في السودان,مطلوب مبرمج مواقع في الخرطوم, 
عمل موقع ويب في السودان,عمل موقع ويب في الخرطوم,برمجة المواقع في السودان,أفضل خدمة برمجة المواقع في السودان,أفضل خدمة برمجة المواقع في الخرطوم">
    <link rel="stylesheet" type="text/css" href="{%static 'personal/css/stylesheet.css' %}">

    <style type="text/css">
.left-col{
    float: left;
    padding: 10px;
}
.right-col{
    float: right;
    padding: 10px;
}
.right-col p{
  padding-top: 20px;
    text-align: justify;
    text-align-last: right;
    padding-left: 50px;
}
.left-col img{
    width: 100%;
    margin: 0 auto;
} 
#temp-service h4{
  text-align: center;
  padding-bottom: 10px;
  padding-left: 200px;
}
#temp-service h6{
  text-align:right;
  padding-top: 20px;
 
}
#temp-service ul{
    text-align: right;
    list-style-type: none;
}
#temp-service ul li{
    padding-right: 15px;
    color: #9b9ea0;
    text-align: right;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: 'Tajawal', sans-serif;
}
#web-type h4{
  text-align: center;
  padding-bottom: 25px;
}
#web-type h6{
  text-align: right;
  padding-bottom: 10px;
}
#web-type img{
  width: 230px;
 height: 250px;
  align-items: center;
  padding: 10px auto;
}
@media (max-width:576px){
#web-type img{
  width: 100%;
 height: 300px;
  align-items: center;
  padding: 1px auto;
}
 .right-col p{
  padding-top: 20px;
    text-align: justify;
    text-align-last: right;
    padding-left: 1px;
}
.left-col img{
    width: 300px;
    padding-left: 90px;
    margin: 0 auto;
} 
#temp-service h4{
  text-align: center;
  padding-left: 10px;
}
#temp-service h6{
  text-align:right;
  padding-top: 20px;
 
}
#temp-service ul{
    text-align: right;
    list-style-type: none;
}
#temp-service ul li{
    padding-right: 15px;
    color: #9b9ea0;
    text-align: right;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: 'Tajawal', sans-serif;
}
#web-type h4{
  text-align: center;
  padding-bottom: 25px;
}
#web-type h6{
  text-align: right;
  padding-top: 30px;
  padding-bottom: 10px;
}
 
}

    </style>
    {%endblock%}
        {%block content%}
<!--start banner -->
<section class="section" id="ban-sect" style="    background-image: url('{%static 'personal/img/ban-bg.jpg'%}'); background-repeat: no-repeat;background-size: cover; width: 100%;">
 <div class="container">
  <div class="title wow fadeInRight">
   <h4> برمجة مواقع   <i class="fas fa-user-tag"></i></h4>
   <ul class="float-right ">
     <li> خصائص أكثر&nbsp;&nbsp; <span class="white-col">--</span></li>
     <li>قواعد بيانات&nbsp;&nbsp; <span class="white-col">--</span></li>
     <li>حسابات</span></li>

   </ul>
 </div>
 </div> 
  
</section>
<!--end banner -->


<!--start service -->


<section class="section" id="temp-service">
  <div class="container">
     <h4 class="col-navyblue">خدمة برمجة<span class="light-col"> مواقع</span></h4> 
    <div class="row">

      <div class="col-lg-4 col-md-6 col-xs-12 wow fadeInLeft img-section left-col" >

       <img src="{% static 'personal/img/dywebsite2.png'%}" class="img-responsive img-circle">
        
      </div>
      <div class="col-lg-8 col-md-6 col-xs-12 wow fadeInRight right-col" id="why-text">
         
        <p class="light-col">برمجة المواقع الإلكترونية او يمكن نسميها خلفية الموقع هي ببساطة إضافة خصائص برمجية للموقع مثل إنشاء حساب ,  أرسال رسائل وأكثر   لجعل الموقع أكثر فائدة للمستخدمين وتقديم خدمات عن طريق الأنترنت , هنا نقدم لك كل ما تحتاجه من خصائص لموقعك الإلكتروني حتى تحقق أهدافك التسويقية وتوسع من قاعدة عملائك   </p>
        <h6 class="col-navyblue">أهم عناصر في  برمجة المواقع</h6>
        <ul>
          <li>إضافة قاعدة بيانات  &nbsp;<i class="far fa-check-circle col-org"></i></li>
          <li>إنشاء حسابات &nbsp;<i class="far fa-check-circle col-org"></i></li>
          <li>طلب الخدمات&nbsp; <i class="far fa-check-circle col-org"></i></li>
        </ul>    
    </div>
  </div>
</section>

<!--end service -->
<hr class="light-col">
<!--start type of website -->
<section class="section container" id="web-type">
  <h4 class="col-navyblue">أنواع  المواقع<span class="light-col"> الإلكترونية </span></h4>
  <div class="row">
    <div class="col-lg-3 col-xs-12">
      <div class="list-card">
      <img src="{% static 'personal/img/shopping-temp.png'%}">
      <hr class="light-col">
      <h6 class="col-navyblue">متجر إلكتروني</h6>
      </div>
    </div>
    <div class="col-lg-3 col-xs-12">
      <div class="list-card">
      <img src="{% static 'personal/img/portf2s.jpg'%}">
      <hr class="light-col">
      <h6 class="col-navyblue">مواقع تعريفية</h6>
      </div>
    </div>
    <div class="col-lg-3 col-xs-12">
      <div class="list-card">
      <img src="{% static 'personal/img/portf1s.png'%}">
      <hr class="light-col">
      <h6 class="col-navyblue">مواقع  شخصية</h6>
      </div>
    </div>
    <div class="col-lg-3 col-xs-12">
      <div class="list-card">
      <img src="{% static 'personal/img/portf5s.jpg'%}">
      <hr class="light-col">
      <h6 class="col-navyblue">مواقع تجارية</h6>
      </div>
    </div>
  </div> 
</section>
<!--start type of website -->
<hr class="light-col">
<!--start contact us -->
<section class="section container" id="contact">
 <div class="wow fadeInLeft"> 
<h6 class="col-navyblue">انشر  نشاطك التجاري بالحصول على موقع الكتروني  جذاب ومميزة  </h6> <a class="" href="{% url 'contact' %}"><button type="button" class="btn btn-style-cont rounded ">تواصل معنا </button> </a></div>
</section> 
<!--end contact us -->
        {%endblock%}
