
<!DOCTYPE html>
<html lang="ar">
<head>
    {%block title %}

    {%endblock%}
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%load staticfiles %}
    <meta charset="utf-8" >
    <link rel="stylesheet" href={% static 'personal/css/bootstrap.min.css' %} type="text/css">
    <link rel="stylesheet" href="{% static 'personal/css/stylesheet.css' %}" type="text/css">
    <link rel="stylesheet" href="../../static/personal/css/stylesheet.css">

    <!-- google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Markazi+Text|Tajawal" rel="stylesheet">
    <!-- fontawsome file link  -->

    <link href="../../static/personal/css/StyleSheet.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    
    <!-- website tab icon -->
    <link rel="icon" href="{% static 'personal/img/icon-logo.png'%}">
     <!--aos animation cdn -->
    <link rel="stylesheet" type="text/css" href="{% static 'personal/css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'personal/css/animate.css' %}">
    </head>
  <body >



<!--top nav -->
<section id="top-nav" >
<div class="top-nav-cont">
  <div class="row">
    <div class="col-sm white-col">

     <center><i class="far fa-envelope"></i>  &nbsp;&nbsp;mohwebdeveloper@gmail.com  </center>  
  
    </div>
    <div class="col-sm phone-top ">

     <center><i class="fas fa-phone-volume">&nbsp;&nbsp;+919581522956</i></center>
</div>
    <div class="col-sm white-col float-right socal-top">
   <center> <a href="https://www.facebook.com/mohwebdeveloper1/?modal=admin_todo_tour" target="blank"><i class="fab fa-facebook-f white-col"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.instagram.com/mohwebdeveloper/" target="blank"><i class="fab fa-instagram white-col"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.linkedin.com/in/%D9%85%D8%B7%D9%88%D8%B1-%D9%85%D9%88%D8%A7%D9%82%D8%B9-moh-webdeveloper-36173a175/" target="blank"><i class="fab fa-linkedin white-col"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://twitter.com/mohamedwebdeve1" target="blank"><i class="fab fa-twitter white-col"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;</center>
 
    </div>
  </div>
</div>

    
</section>

<!--end top nav -->

<!--nav -->
    <nav class="navbar navbar-expand-lg  bg-white black-col" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger non-uper" href={% url "index" %}><img src="{% static "personal/img/logo60X100.png" %}" alt="logo"></a>
        <button class="navbar-toggler navbar-toggler-right light-dark white-col bg-org" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item ">
              <a class="nav-link js-scroll-trigger" href={% url 'contact' %}>تواصل معنا</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href={% url "portfolio" %}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;اعمالنا</a>
            </li>
            <li class="nav-item">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          خدماتنا
        </a>
        <div class="dropdown-menu dropdown-menu-righ  " aria-labelledby="navbarDropdownMenuLink" >
         <center> <a class="dropdown-item light-col lhover float-right" href="#">تصميم صفحات</a></center>
         <center><a class="dropdown-item light-col lhover" href="#">تطوير مواقع</a></center>
         <center><a class="dropdown-item light-col lhover" href="#">تسويق إلكتروني</a></center>
        </div>
      </li>
              
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href={% url "about" %}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;من نحن </a>
            </li>
            <li class="nav-item">
              <a class="nav-link  js-scroll-trigger" href={% url "index" %}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;الرئيسية  </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    
<!-- end nav -->

        {%block content%}
        {%endblock%}
    
<!-- top footer-->
<section class="blue-col white-col" id="top-footer">
  <div class="container">
    <br>
    <div class="row">
   

    <div class="col-lg-4 col-xs-12 order-xs-3 ">
     <center> <h6 >تواصل  <span style="color: #ff8c60; font-size: 14px;font-weight: bold ">معنا على </span></h6>

      <br>
   <h4><a href="https://www.facebook.com/mohwebdeveloper1/?modal=admin_todo_tour" target="blank"><i class="fab fa-facebook-f white-col"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.instagram.com/mohwebdeveloper/" target="blank"><i class="fab fa-instagram white-col"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.linkedin.com/in/%D9%85%D8%B7%D9%88%D8%B1-%D9%85%D9%88%D8%A7%D9%82%D8%B9-moh-webdeveloper-36173a175/" target="blank"><i class="fab fa-linkedin white-col"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://twitter.com/mohamedwebdeve1" target="blank" class="lhover"><i class="fab fa-twitter white-col"></i></a> &nbsp;&nbsp;&nbsp;&nbsp; </h4>
     </center><br>
     <br><br>
    <!-- <center>
    
      <img src="{% static 'personal/img/logo60X100.png'%}" style="background-color: white;"> 
     
    <h6 >رؤيتنا</h6>
    
    <p class="our-ph " style="color: white !important; font-size: 13px;">ان نكون الافضل في مجالنا عن طريق تقديم احدث الالأدوات التقنية للعملاء . ن نكون الافضل في مجالنا عن طريق تقديم احدث الالأدوات التقنية للعملاء .ن نكون الافضل في مجالنا عن طريق تقديم احدث الالأدوات التقنية للعملاء .</p>     </center> -->
    
    </div>
    <br>
    <div class="col-lg-4 col-xs-6  order-xs-2">
    <div  class="imp-link">
    <h6 class="float-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;خدماتنا </h6>
    
    <ul>
      <li><a class="lhover white-col" href={% url 'index' %}>تصميم صفحات</a></li>
      <li><a class="lhover white-col" href={% url 'about' %}>تطوير مواقع</a></li>
      <li><a class="lhover white-col" href={% url 'portfolio' %}>تسويق  الكتروني  </li>
  
      </ul> 
      </div>
    </div>

    <div class="col-lg-4 col-xs-6 order-xs-1">
    <div  class="imp-link">
    <h6 class="float-right">روابط مهمة</h6> 
  
    <ul>
      <li><a class="lhover white-col" href="{% url 'index' %}" >الرئيسية</a></li>
      <li><a class="lhover white-col" href="{% url 'about' %}">من نحن </a></li>
      <li><a class="lhover white-col" href="{% url 'portfolio' %}">اعمالنا</a></li>
      <li><a class="lhover white-col" href="{% url 'contact' %}">تواصل معنا</a></li>
    </ul>  
      </div>    

 

      </div>


      <!--
     <center> 
    
    <h5><a class="lhover white-col" href="#">تصميمم صفحات</a> </h5><br>
    <h5><a class="lhover white-col" href="#">تطوير مواقع</a></h5> <br>
    <h5><a class="lhover white-col" href="#">تسويق إلكتروني</a></h5></center><br> -->
    </div>

   </div>
</div>  <!--end col -->
    </div>
  </div>   
</section>
<!-- end top footer-->
<!--start footer -->

      <section id="footer">
          <div class="container">
        
        <p class="float-right non-uper" style="color: #2facb1; margin-top: 2px;"><a href="#" style="color: white;" class="non-uper"> الى الأعلى <i class="fas fa-arrow-up" ></i> </a></p>
        <p style="text-indent: 0px; color: white; margin-top: 10px; ">&copy; 2018-2019 All Right are reserved</p>
          </div>
      </section>
<!--end  footer -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


    <script src="../../static/personal/js/bootstrap.min.js"></script>
    <!--aos javascript -->
    <script type="text/javascript" src="{% static 'personal/js/wow.min.js'%}"></script>
<script type="text/javascript">
   new WOW().init();
</script>
</body>



</html>