<html>
<head>


</head>
<body>
    
  
<section class="testimonials" id="testimonials">
    <div class="container">
    <br><br>
    <div class="row">
        <div class="col-sm-12">
            <div id="carousel-testimonials" class="carousel-slide" data-ride="carousel"><br>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>                    <li data-target="#carousel-testimonials" data-slide-to="1" ></li>                    <li data-target="#carousel-testimonials" data-slide-to="2" ></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active text-center"> 
                   <img src="../../static/personal/img/f1.jpg" class="center-block">
                      <h2> Daniel Grover </h2>
                      <p>who is such a man as does nto want to describe how he did it .
                      
                      </p>
                  </div>                  <div class="item  text-center"> 
                   <img src="../../static/personal/img/f2.jpg" class="center-block">
                      <h2> Daniel Grover </h2>
                      <p>who is such a man as does nto want to describe how he did it .
                      
                      </p>
                  </div>                  <div class="item text-center"> 
                   <img src="../../static/personal/img/f3.jpg" class="center-block">
                      <h2> Daniel Grover </h2>
                      <p>who is such a man as does nto want to describe how he did it .
                      
                      </p>
                  </div>
                </div>
                
            </div>
            
        
        </div>
        
    </div>
    
    </div>




</section>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
   
    <script src="../../static/personal/js/bootstrap.min.js"></script>
</body
</body>
</html>