{% extends "personal/header.html" %}
        {%block content%}
<!--start gif photo -->
      <section id="gif-photo"  style="">
          <div >
              <img src="../../static/personal/img/portfolio.gif" >
          </div>
      </section>
<!-- end gif photo-->
<!--start about txt -->
<br>
      <section id="about-txt">
         <div class="container">

           <div class="jumbotron jumbotron-fluid">
              <div class="container">
                  <h1 class="display-4 col-navyblue">Here Are Some of Our work .</h1>
                   <p class="lead">These are some of our work and might give you some idea about the way we follow in building website , we design creative websites with powerfull features that suite your requirment and achieves your goals .</p>
                   <p class="lead">Take brife look to the work we done and share with us your opinion , and also you can buy avaible website .</p>
              </div>
            </div>

         </div>

      </section>
<!--end about txt -->
<!--start template1 -->

      <section id="our-mission">
          <br>
        <div class="container">
          <figure>
         <center><img src="../../static/personal/img/template1.png" class="caption-img" style=" height: auto; width: 680px;border: 2 solid red;"></center>
        <center>    <figcaption  class="img-caption">
            <h6 style="float: left; padding: 5px;">name : <span class="lead"><a href="google.com" target="_blank" class="non-uper col-white">Travel Agency</a>   </span> </h6><br><br>

         <h6 style="float: left; padding: 5px;">type : <span class="lead">static&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span> </h6>
         <h6 style="float: left; padding: 5px;">status : <span class="lead">Sold out</span> </h6>
            </figcaption></center>
         </figure>

        </div>
          <br>
      </section>

<!--end our mission , our goals  -->
<!--start template2-->
      <section>
          <br>
        <div class="container">
        <figure>
         <center><img src="../../static/personal/img/template2.png" class="caption-img" style=" height: auto; width: 680px;border: 2 solid red;"></center>
        <center>    <figcaption  class="img-caption">
            <h6 style="float: left; padding: 5px;">name : <span class="lead"><a href="" target="_blank" class="non-uper col-white">Developer wesbsite</a>   </span> </h6><br><br>

         <h6 style="float: left; padding: 5px;">type : <span class="lead">static&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span> </h6>
         <h6 style="float: left; padding: 5px;">status : <span class="lead">For sale</span> </h6>
            </figcaption></center>
         </figure>
        </div>



      </section>
      <br>
<!--end our services -->
        {%endblock%}
