body{

   top: 0px !important;
   margin:0;
     max-width: 100%;
     overflow-x: hidden;

}
p{
   color: gray !important;
}
    .bg-navyblue{
    background: #2facb1 !important;
}
.bg-grey{
       background-color: #e9ecef;
}
a:hover.non-uper {
    text-transform: none !important;
    text-decoration: none;
    color: white !important;
}
a:hover {
    color:white !important;
    text-transform: uppercase;
}
.col-navyblue{

    color:  #2facb1 !important;
}
.col-white{
    color: white !important;
}
.bg-white{
    background-color:#2facb1 !important;

}

.to-uper{
    text-transform: uppercase;
    font-family:sans-serif;
    font-style: normal;
    font-size: 18px;
}
/* start index style */
.box{
    margin:7px;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #2facb1 ;
}
/* end index style */
/*  ### start about page  ### */
#gif-photo img{
    width: 100%;
    height: 550px;

}
#who-we p{
    text-align: justify;
    text-align-last: right;
    text-indent-right:20px;
}
#who-we img{
    border:2px solid #ff8c60;
}
#list p{
   text-align-last: right;
   text-align: justify;

}

.list-card {
  width: 95%;
  margin-bottom: 5%;
  margin-top: 5%;
 
}
.list-card img{
    float: right;
    padding: 30px 10px 30px 30px ;
}
.list-card h4{
    text-align: center;
    padding: 5px 0;
    color: #ff8c60 !important;
}


/*  ###  end about page ### */

/*  ###  start services page ### */
#thumb-slider{
    width: 100% !important;
    margin: 15 auto !important;
    align-content: center;
    right: 0 ;

}


.img-caption{


 width: 460px;
 height: 100px;
 margin-top: -115px;
border-radius: 5px;
 padding: 7px;
 position: relative;
 margin-right: auto;
 margin-left: auto;
  background-color: #2facb1 ;
  color:white;
}
caption-img{
    width: 430px;
    border: 2 solid red;
}

#icon-bet{
    background-color: #e9ecef;
    width: 100px;
    height: 100px;
    margin: -50px auto 0 auto;
    border-radius: 50%;
    display: grid;
    align-content:center;

}
#icon-bet h2{
    margin: 0 auto;
    border-radius: 100px;
    align-content: center;

}
/*  ###  end portfolio page ### */

/* start top nav style */
#top-nav{
    color: white;
    background-color: #ff8c60;
    font-size: 12px;
    padding: 4px 0;
}
#top-nav i{
    font-size: 15px;
    color: white;
}

@media only screen and (max-width: 500px) {

 #top-nav {
    display: none;
 }
}

/* end top nav style */


/* start nav style */
#mainNav{
    background-color: white;
    font-size: 16px;
    font-weight: bold;
}
#mainNav a{
    color:#ff8c60 ;
}
#mainNav a:hover{
    opacity: 0.6;

    color:#ff8c60 !important;
}
.dropdown-menu a {
    font-size: 16px;
    font-weight: bold;
}

@media only screen and (max-width: 500px) {

#mainNav{

    font-size: 16px;
    font-weight: bold;
    text-align: right;
    color: white!important;
}
#mainNav .navbar-toggler{font-size:20px;right:0;padding:13px;text-transform:uppercase;color:#ff8c60;border:0;background-color:white;font-family:Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'}
}

/* end nav style */

/*start style top-footer */
#top-footer{
    background-color: #2facb1;
    color: white !important;

}
#top-footer h6{
    color:white;
    font-weight: bold;
    font-size: 12px;
    text-align: center !important;
}
#top-footer ul{
    display: block !important;
    color: white !important;
    list-style: none;
}
#top-footer a{
    color: white;
    font-weight: 400;
  text-decoration: none !important;
  align-items: right !important;
}
#top-footer i{
   color: white;
}
.imp-link{
text-align: right;
}
#footer{
    font-size: 11px;
    padding: 3px;
    background-color: #007c82;

}


/* end style top-footer */


/* start home style */
#our-services h4{
  color: #ff8c60;
}
a.our-card h6{
  color:white !important;
}
#our-services i{
  color: #ff8c60 !important;
  float: right;
  padding-top: 50px;
  padding-left: 24px;
  padding-bottom: 40px;
  vertical-align: middle !important;

}
.our-card {
    border-radius: 5px;
    color: white !important;
    /*opacity: 0.8;*/
    background-color: #8ab4ec !important;
}
.our-card p{
 color: white !important;
 text-align: justify;
 text-align-last: right;
}
.our-card a:link{
   text-decoration: none;
   color: white;
}

/* contact nav style */
#contact-div{
    max-width: 100% !important;
    height:50px !important;
}

#contact h6{
    float: right;
    color:#ff8c60 !important;
   text-align: right;
   margin-top: 5px;
   margin-left: 15px;
  
}
#contact button{

    float: right;
    align-self: right;
    background-color: #ff8c60 !important;
    color: white;

}
.text-center {
    color: white !important;
}
/* end home style */

/* start portfolio */
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}
#portfolio * {
    z-index: 2;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0;
    background: rgba(254,209,54,.9);
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}
.portfolio-modal .modal-content {
    padding: 100px 0;
    text-align: center;
}
.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

/* end portfolio */

/* start contact page style */
.list-card i{
   color: #2facb1 !important;
}
.card-body {
    border: 1px solid #ff8c60;

}
#basic-inf{
    height: 50px;
    max-width: 100%;
    padding-right: 15px;
}
.phone-no h6{
    color:#ff8c60 !important;
    float:right !important;
    padding-left: 20px; 
}
.phone-no p{
    color:gray !important;
    float:right !important; 
}
.email-id h6{
    color:#ff8c60 !important;
    float:right !important;
    padding-left: 20px; 
}
.email-id p{
    color:gray !important;
    float:right !important; 
}


.card-header:first-child {
    background-color: #ff8c60;
}
@media only screen and (max-width: 500px) {

#basic-inf{
    padding-right: 10px;
    height: 100px;
    max-width: 100%;
}
#contact-div {
    max-width: 100% !important;
    height: 60px !important;
}
#contact h6 {
    float: right;
  font-size: 10px;
  font-weight: bold;
  padding-right: 10px;
  padding-top: 10px;
}
#contact button {
    float: right;
    margin-top: 4px;
    padding:3px;
}
}
#web-type img {
    border: 1px solid #ff8c60;
}
#web-type h6{
    margin-top: 7px !important ;
}

/* end contact page style  */
